<!-- wp:template-part {"slug":"header","theme":"one-business-blocks","tagName":"header","className":"home-header-class"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

<!-- wp:pattern {"slug":"one-business-blocks/banner"} /-->

<!-- wp:pattern {"slug":"one-business-blocks/our-services"} /-->

<!-- wp:pattern {"slug":"one-business-blocks/about-us"} /-->

<!-- wp:pattern {"slug":"one-business-blocks/records"} /-->

<!-- wp:pattern {"slug":"one-business-blocks/profit-graph"} /-->

<!-- wp:pattern {"slug":"one-business-blocks/our-skills"} /-->

<!-- wp:pattern {"slug":"one-business-blocks/testimonial"} /-->

<!-- wp:pattern {"slug":"one-business-blocks/trust-us"} /-->


</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"one-business-blocks","tagName":"footer","className":"home-footer-class"} /-->